body{
    background-color: #000;
}
.resume-container{
    padding: 0 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgba(255, 255, 255, 0.21);
    margin: 0 auto;
    padding-top: 80px;
    transition: 0.3s;
}
.top-section{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.resume-name p{
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
}
.resume-name span{
    color: #f9004d;
}
.personal-details{
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(5px);
    display: grid;
    width: auto;
    grid-template-columns: 500px 1fr;
    margin-left: -20px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    border-top: 1px solid #fff;
}
.personal-data{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}
.personal-data img{
    width: 30px;
}
.personal-data p{
    color: #fff;
    font-size: 18px;
}
.summary{
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(5px);
    width:fit-content;
    border-radius: 10px;
    padding: 0 15px;
}
.summary span{
    color: #ffff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #f9004d;
    padding: 8px 15px;
    border-radius: 10px;
}
.summary-data p{
    color: #fff;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 23px;
}
.middle-section{
    display: flex;
    width: 100%;
    column-gap: 10px;
}
.education{
    background-color: rgba(255, 255, 255, 0.21);
    width: auto;
    border-radius: 10px;
}
.education span{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #f9004d;
    padding: 8px 15px;
    border-radius: 10px;
    margin-left: 20px;
}
.qualification{
    color: #fff;
    width: 350px;
    padding:5px 25px;
    margin-top: 10px;
    border-radius: 10px;
}
.degree p{
    background-color: #fff;
    color: #000;
    width: 120px;
    text-align: center;
    margin-bottom: 10px;
    padding: 4px 10px;
    border-radius: 10px;
}
.qualification p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.qualification .date{
    border: 1px solid #f9004d;
    width: 200px;
    text-align: center;
    padding: 5px 5px;
}
.projects{
    width: auto;
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(5px);
    padding-right: 25px;
    padding-left: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.projects span{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #f9004d;
    padding: 8px 15px;
    margin-left: 40%;
    border-radius: 10px;
}
.title ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.title li{
    list-style: none;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}
.discription p{
    color: white;
    line-height: 20px;
    margin-top: 10px;
}
.technical{
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(5px);
    width: 32%;
    border-radius: 10px;
}
.technical span{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #f9004d;
    padding: 8px 15px;
    border-radius: 10px;
    margin-left: 20px;
}
.skills{
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 25px;
}
.skills li{
    color:#fff;
    line-height: 25px;
}
.hobbies{
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(5px);
    width: 68%;
    border-radius: 10px; 
    padding: 10px 30px;
}
.hobbies span{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #f9004d;
    padding: 8px 15px;
    border-radius: 10px;
    margin-left: 20px;
}
.bottom-section{
    display: flex;
    width: 100%;
    column-gap: 10px;
}
.hobbies-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
}
.hobbies-list div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hobbies-list li{
    list-style: none;
}
.hobbies-list div img{
    width: 100px;
    border-radius: 50%;
}

@media(max-width:850px){
    .resume-container{
        width: fit-content;
    }
    .resume-name p{
        font-size: 60px;
    }
    .personal-details{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .personal-data img{
        width: 20px;
    }
    .personal-data p,
    .summary span,
    .summary-data p{
        font-size: 15px;
    }
    .middle-section{
        flex-direction: column;
        row-gap: 15px;
    }
    .education,
    .projects,
    .hobbies,
    .technical{
        width: 100%;
    }
    .education span{
        font-size: 16px;
    }
    .qualification{
        padding:5px 20px;
    }
    .degree p{
        font-size: 13px;
    }
    .qualification p{
        font-size: 14px;
    }
    .qualification li,
    .projects span,
    .technical span,
    .hobbies span{
        font-size: 15px;
    }
    .skills{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-right: 15px;
    }
    .bottom-section{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        column-gap: 10px;
    }

}
@media(max-width:550px){
    .resume-container{
        width: fit-content;
    }
    .resume-name p{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .summary span,
    .education span,
    .qualification li,
    .projects span,
    .technical span,
    .hobbies span,
    .summary-data p,
    .discription p{
        font-size: 12px;
    }
}