.services{
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    background: #191919;
}
.grid-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 20px;
    margin: 30px auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    transition: 0.3s;
}
.service-box{
    border: none;
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    height: auto;
    transition: 1.2s;
    padding-top: 20px;
    padding-bottom: 30px;
}
.service-box:hover{
   background-color: black;
   color: white;
   cursor: pointer; 
}
.service-box h5{
    font-size: 20px;
    margin-bottom: 15px;
}
.service-box h5 span{
    color: #f9004d;
    font-size: 20px;
}
.service-box img{
    width: 240px;
    opacity: 0.8;
    margin-bottom: 30px;
}
.img3{
    width: 400px;
    height: 200px;
}
.service-box p{
    padding-left: 20px;
    padding-right: 10px;
    text-align: start;
    font-size: 16px;
    line-height: 20px;
    transition: 0.3s;
}
@media (max-width:850px){
    .services{
        height: fit-content;
    }
    .grid-services{
        grid-template-columns: 1fr 1fr;
    }
    .service-box{
        height: fit-content;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .service-box p{
        font-size: 14px;
    }
    .service-box h5{
        font-size: 16px;
    }
    .service-box img{
        width: 150px;
    }
}
@media(max-width:550px){
    .grid-services{
        grid-template-columns: 1fr;
    }
    .service-box{
        height: fit-content;
        padding-bottom: 30px;
    }
}
